{% extends "userProfile.html" %}
{% block content %}
{{block.super}}
    <!-- User Pagination -->
    <div style="position:fixed;top:65%;left:3%">
        <table class="user_table" >
            <thead>
              <tr>
                <th style="padding-bottom:40px; padding-right: 100px;font-size: 25px;">Username</th>
                <th style="padding-bottom:40px; padding-right: 150px;font-size: 25px;">Email</th>
                <th style="padding-bottom:40px; padding-right: 50px;font-size: 25px;">Role</th>
                <th style="padding-bottom:40px; padding-right: 50px;font-size: 25px;">Promote</th>
                <th style="padding-bottom:40px; padding-right: 50px;font-size: 25px;">Degrade</th>
                <th style="padding-bottom:40px; padding-right: 50px;font-size: 25px;">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    {% if user.is_superuser %}
                    <td>Admin</td>
                    {% else %}
                    <td>User</td>
                    {% endif %}
                  <td> <button type="submit" name="promote_user" value="{{user.id}}" id="promote">promote</button></td>
                  <td> <button type="submit" name="degrade_user" value="{{user.id}}" id="degrade">degrade</button></td>
                  <td> <button type="submit" name="delete_user" value="{{user.id}}" id="delete_algo_dataset">delete</button></td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        <div> 
            {% if users.has_other_pages %}
                {% if users.has_previous %}
                    <a href="?user_page={{ users.previous_page_number }}">&laquo;</a>
                {% endif %}
            {% for i in users.paginator.page_range %}
                {% if users.number == i %}
                    <span style="color:red;">{{ i }}</span>
                {% else %}
                    <a href="?user_page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
            {% if users.has_next %}
                <a href="?user_page={{ users.next_page_number }}">&raquo;</a>
            {% else %}
                <span>&raquo;</span>
            {% endif %}
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}