{% load static %}

<head>
	<title>{% block title %}SOP PSE 22{% endblock %}</title>
	<link rel="stylesheet" href='{% static "../static/css/style.css" %}' />
	<script type="text/JavaScript" src="{% static '../static/js/collapsible.js' %}"></script>
	<script type="text/JavaScript" src="{% static '../static/js/search.js' %}"></script>
	<script type="text/JavaScript" src="{% static '../static/js/update.js' %}"></script>
</head>

<body>
	<div id="topbar">
		{% block topbar %}
		<button type="button" id="home" onclick="location.href='/home'">
			Home </button>
		<button type="button" id="new_experiment"
			onclick="location.href='/newExperiment'">
			New Experiment </button>
		<button type="button" id="profil"
			onclick="location.href='/profile'">
			Profil </button>
		<button type="button" id="logout"
			onclick="location.href='/logout'">
			Logout </button>
		{% endblock %}
	</div>

	<div id="content">
		{% block content %}

		{% endblock %}
	</div>
	<div id="bottombar">
	</div>
</body>

</html>