{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 id="title"> Details of {{Experiment.name}} </h2>
<div class="progressbar">
    <div class="realbar" id="progress">0%</div>
</div>

<div id="info_left">
    <p> Status: {{Version.status}} </p>
    <p> Seed: {{Version.seed}}</p>
    <p> Error: {{Version.error}} </p>
</div>
<div id="info_right">
    <p> Subspace Dimensions: </p>
    <p> minimum Dimension size: {{Version.minDimension}} </p>
    <p> maximum Dimension size: {{Version.maxDimension}} </p>
    <p> number of picked Subspaces: {{Version.numberSubspaces}} </p>
</div>

<form method="post">
    {% csrf_token %}
    <button type="button" id="delete" onclick="location.href='/details/{{Experiment.id}}/delete'">
        <img id="delete_image" src="{% static '../static/png/trashcan.png' %}" /> </button>

    <button type="button" id="start"
        onclick="location.href='/details/{{Experiment.id}}/{{Version.edits}}.{{Version.runs}}/start'">
        Start</button>

    <button type="button" id="stop"
        onclick="location.href='/details/{{Experiment.id}}/{{Version.edits}}.{{Version.runs}}/stop'">
        Stop</button>

    <button type="button" id="iterate"
        onclick="location.href='/details/{{Experiment.id}}/{{Version.edits}}.{{Version.runs}}/iterate'">
        Iterate</button>

    <div id="select_version">
        <p>Select Version</p>
        <select name="show" id="version_list">
            {% for ver in Versions %}
            {% if Version.edits == ver.edits %}
            {% if Version.runs == ver.runs %}
            <option value="{{ver.edits}}.{{ver.runs}}" selected>{{ver.edits}}.{{ver.runs}}</option>
            {% endif %}
            {% endif %}
            <option value="{{ver.edits}}.{{ver.runs}}">{{ver.edits}}.{{ver.runs}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="select">
    </div>
</form>

<button type="button" id="edit"
    onclick="location.href='/edit/{{Version.experiment.id}}/{{Version.edits}}.{{Version.runs}}'">
    Edit</button>

<button type="button" id="duplicate"
    onclick="location.href='/duplicate/{{Version.experiment.id}}/{{Version.edits}}.{{Version.runs}}'">
    Duplicate </button>

<button type="button" id="results"
    onclick="location.href='/details/{{Version.experiment.id}}/{{Version.edits}}.{{Version.runs}}/results'">
    Results </button>

{% endblock %}