{% block content %}
{% load static %}
<link rel="stylesheet" href='{% static "../static/css/login.css" %}' />

<body>
  <div class="login_div">
    <h1>Login</h1>
    <form method="POST">
      {% csrf_token %}
      <p>Username:</p>
      <input type="text" id="username" name="username">
      <p>Password:</p>
      <input type="password" id="password" name="password"><br><br>
      <button class="login_button" type="submit">Login</button>
    </form>
    <p class="text-center">Don't have an account? <a class="no_link_highlight" href="register">Click here to
        register</a>.</p>
  </div>
</body>

{% endblock %}