{% extends "base.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {% if messages %}
    {% for m in messages %}
    <p style="color: red;">{{m}}</p>
    {% endfor %}
    {% endif %}
    <p><label for="name">Experiment name:</label>
        <input type="text" id="name" name="name">
    </p>

    <br>
    <p><label for="repetitions">Repetitions:</label>
        <input type="text" id="repetitions" name="repetitions">
    </p>

    <br>
    <p>Subspace Dimension:</p>
    <p><label for="numberSubspaces">numberSubspaces:</label>
        <input type="text" id="numberSubspaces" name="numberSubspaces">
    </p>
    <p><label for="minDimension">minDimension:</label>
        <input type="text" id="minDimension" name="minDimension">
    </p>
    <p><label for="maxDimension">maxDimension:</label>
        <input type="text" id="maxDimension" name="maxDimension">
    </p>

    <br>
    <p><label for="seed">Initial Seed:</label>
        <input type="text" id="seed" name="seed">
    </p>

    <br>
    <p>Select Dataset</p>
    <select name="dataset" id="dataset">
        {% for dataset in Datasets %}
        <option value="{{dataset.id}}">{{dataset.name}}</option>
        {% endfor %}
    </select>

    <br> <br>
    <p>Select from the Algorithms</p>
    <p>Search: <input class="search" type="search" id="search" name="search" style="width: 20%;"/></p>
    {% for category in categories %}
    <button type="button" class="collapsible">{{category}}</button>
    <div class="content">
        {% for algo in Algorithms %}
        {% if algo.category == category %}
        <button type="button" class="collapsible searchable" value="{{algo.name}}">
            <nobr><input type="checkbox" id="algorithms" name="algorithms" value="{{algo.id}}"> {{algo.name}}
            </nobr>
        </button>
        <div class="content">
            {% for a in data %}
            {% for id, value in a.items %}
            {% if id == "ID" and value == algo.id %}

            {% for para, default in a.items %}
            {% if para != "ID" %}
            <nobr>
                <p>{{para}} = <input type="text" id="{{algo.id}}.parameters:{{para}}"
                        name="{{algo.id}}.parameters:{{para}}" value="{{default}}" style="width: 20%;" /></p>
            </nobr>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    <br>
    <p><input type="submit" value="Create"></p>
</form>
{% endblock %}