{% extends "base.html" %}
{% block content %}
<div id="upload_algo_dataset_div">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label name="file" for="algorithm_uploads">Choose algorithm to upload (.py)</label>
        <input type="file" id="select_file" name="file" accept=".py">

        <p>Name: <input type="text" id="name_input" name="name"></p>
        <label for="category">Choose a category</label>
        <select name="category" id="category">
            <option value="Probabilistic">Probabilistic</option>
            <option value="Linear Model">Linear Model</option>
            <option value="Proximity-Based">Proximity-Based</option>
            <option value="Outlier Ensembles">Outlier Ensembles</option>
            <option value="Neural Networks">Neural Networks</option>
            <option value="Other">Other</option>
        </select>
        <br>
        <br>
        <button name="upload_btn" type="submit" id="upload_algorithm_button">
            <p> upload </p>
        </button>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <p style="position:absolut;top:70%;right:50%;color:red">{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
    </form>
</div>
{% endblock %}