{% extends "base.html" %}
{% block content %}
<form method="POST">

    <button id="upload_algorithm" type="button" onclick="location.href='/uploadAlgorithm'">
        <p style="font-size: large;">upload new Algorithm</p>
    </button>

    <button id="upload_dataset" type="button" onclick="location.href='/uploadDataset'">
        <p style="font-size: large;">upload new Dataset</p>
    </button>
    <div id="username">
        <p>username: {{username}}</p>
    </div>

    <div id="email">
        <p>email: {{email}}</p>
    </div>
    {% csrf_token %}
    <div id="algo_table">
        <table class="algo_table">
            <thead>
                <tr>
                    <th style="padding-bottom:40px; padding-right: 150px;font-size: x-large;">Name</th>
                    <th style="padding-bottom:40px; padding-right: 50px;font-size: x-large;">Category</th>
                    <th style="padding-bottom:40px; padding-right: 10px; font-size: x-large;">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for algo in algos %}
                <tr>
                    <td>{{ algo.name }}</td>
                    <td>{{ algo.category }}</td>
                    <td><button type="submit" name="delete_algorithm" value="{{algo.id}}" id="delete_algo_dataset">delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            {% if algos.has_other_pages %}
            {% if algos.has_previous %}
            <a href="?algo_page={{ algos.previous_page_number }}" class="no_link_highlight">&laquo;</a>
            {% endif %}
            {% for i in algos.paginator.page_range %}
            {% if algos.number == i %}
            <span style="color:red;">{{ i }}</span>
            {% else %}
            <a href="?algo_page={{ i }}" class="no_link_highlight">{{ i }}</a>
            {% endif %}
            {% endfor %}
            {% if algos.has_next %}
            <a href="?algo_page={{ algos.next_page_number }}" class="no_link_highlight">&raquo;</a>
            {% else %}
            <span>&raquo;</span>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <!-- Dataset Pagination -->
    <div id="dataset_table">
        <table class="dataset_table">
            <thead>
                <tr>
                    <th style="padding-bottom:40px; padding-right: 150px;font-size: 25px;">Name</th>
                    <th style="padding-bottom:40px; padding-right: 50px;font-size: 25px;">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                <tr>
                    <td>{{ data.name }}</td>
                    <td> <button type="submit" name="delete_dataset" value="{{data.id}}" id="delete_algo_dataset">delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            {% if datas.has_other_pages %}
            {% if datas.has_previous %}
            <a href="?data_page={{ datas.previous_page_number }}" class="no_link_highlight">&laquo;</a>
            {% endif %}
            {% for i in datas.paginator.page_range %}
            {% if datas.number == i %}
            <span style="color:red;">{{ i }}</span>
            {% else %}
            <a href="?data_page={{ i }}" class="no_link_highlight">{{ i }}</a>
            {% endif %}
            {% endfor %}
            {% if datas.has_next %}
            <a href="?data_page={{ datas.next_page_number }}" class="no_link_highlight">&raquo;</a>
            {% else %}
            <span>&raquo;</span>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <!-- display warning messages if something went wrong -->
    <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
    </div>
</form>
{% endblock %}